<div class="alert alert-danger" ng-show="data.orderError">
    Error ({{data.orderError.status}}). The order could not be placed. <a href="#/submitorder"
                                                                          class="alert-link">Click here to try again</a>
</div>
<div class="panel panel-default" ng-hide="data.orderError">
    <div class="panel-heading">
        <h3>Your order has been submitted successfully!</h3>
    </div>
    <div class="panel-body">
        Thanks for placing your order. We'll ship your gadgets as soon as possible. Your order's Identity number is
         {{data.OrderID}}. <br/>
    </div>
    <div class="panel-footer">
        <a href="#" class="btn btn-danger btn-sm">Back to gadgets</a>
        <a href="{{data.OrderLocation}}" class="btn btn-default btn-sm">View order</a>
    </div>
</div>
